.portlet-header
  %h4 Latest Deals
  %ul.portlet-tab-nav
    =link_to_collection 'All', root_path
    -@classifications.each do |c|
      =link_to_collection c.name, classified_promos_path(:classification => c.permalink), c.permalink
.portlet-content
  =will_paginate
  -@promos.each do |deal|
    .deal-item
      %h3#dealname=link_to "Only P#{deal.price_discounted} for #{deal.name.capitalize} at #{deal.merchant.name.capitalize}", [deal.merchant, deal]
      .deal-index.round  
        %table#box
          %tr
            %td#box
              %b Actual:
            %td#box
              %b Discount:
            %td#box
              %b Savings:
          %tr
            %td#box2
              %b= "P#{deal.price_actual}"
            %td#box2
              %b= "#{deal.percent_discounted}%"
            %td#box2
              %b= "P#{deal.price_actual - deal.price_discounted}"
        %table#box     
          %tr
            %td#box
              %b Time to claim:
          %tr
            %td
            .countdown.index.round
              =deal.countdown_time_left
      .remaining-show2.round
        %table
          %tr
            %td#box4
              = "#{deal.remaining} coupons left"
            %td#box3.round
              =link_to "claim it!", [deal.merchant, deal]
      .deal-item-image#gallery2
        = link_to image_tag(deal.image.url || '/images/deal.default2.png'), [deal.merchant, deal]
      .remaining-coupons2.round
        %br
      .deal-details2
        -if admin_signed_in? || deal.merchant == current_merchant
          %p
            %strong Manage this deal:
            = link_to('Show Records', [deal.merchant, deal])
  =will_paginate
