= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'
= javascript_include_tag 'rails'
= javascript_include_tag 'jquery-ui-1.8.7.custom.min.js'
= javascript_include_tag 'jquery-ui-timepicker-addon.js'
= javascript_include_tag 'carbon/jquery/jquery.hoverIntent.min'
= javascript_include_tag 'carbon/jquery/jquery.tablesorter.min'
= javascript_include_tag 'carbon/jquery/jquery.lightbox-0.5.min'
= javascript_include_tag 'carbon/jquery/jquery.uniform.min'
= javascript_include_tag 'carbon/jquery/jquery.visualize'
= javascript_include_tag 'carbon/carbon/carbon'
= javascript_include_tag 'carbon/carbon/carbon.nav'
= javascript_include_tag 'carbon/carbon/carbon.message'
= javascript_include_tag 'carbon/carbon/carbon.portlet'
= javascript_include_tag 'jquery.countdown.min'
= javascript_include_tag 'jquery.printPage.js'
= javascript_include_tag 'print.js'
= javascript_include_tag 'js/jquery.wowwindow.min.js'
= javascript_include_tag 'wowwindow.js'



/[if IE]
  = javascript_include_tag 'misc/excanvas.min'
= javascript_include_tag 'application'
