= stylesheet_link_tag 'application'
= stylesheet_link_tag 'carbon/reset'
= stylesheet_link_tag 'jquery-ui-1.8.7.custom.css'
= stylesheet_link_tag 'carbon/typography'
= stylesheet_link_tag 'carbon/custom'
= stylesheet_link_tag 'carbon/jquery.lightbox-0.5'
= stylesheet_link_tag 'carbon/uniform.default'
= stylesheet_link_tag 'carbon/jquery.visualize'
= stylesheet_link_tag 'jquery.countdown'
= stylesheet_link_tag 'css/wowwindow'

/[if IE 8]
  = stylesheet_link_tag 'carbon/ie8'

/[if IE 7]
  = stylesheet_link_tag 'carbon/ie7'
